In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('Train.csv')

df.info()

FileNotFoundError: ignored

In [ ]:
df.head()

NameError: ignored

In [ ]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
print("Mean : ",df['Item_Weight'].mean())
print("Median : ",df['Item_Weight'].median())
print("Mode : ",df['Item_Weight'].mode()[0])
df['Item_Weight'].fillna(df['Item_Weight'].mean(), inplace=True)

print("Mode : ",df['Outlet_Size'].mode()[0])
df['Outlet_Size'].fillna(df['Outlet_Size'].mode()[0], inplace=True)

Mean :  12.857645184136183
Median :  12.6
Mode :  12.15
Mode :  Medium

In [ ]:
df['Item_Type'].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [ ]:
df['Item_Fat_Content'].replace(to_replace='low fat', value='Low Fat', inplace=True)
df['Item_Fat_Content'].replace(to_replace='LF', value='Low Fat', inplace=True)
df['Item_Fat_Content'].replace(to_replace='reg', value='Regular', inplace=True)

In [ ]:
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [ ]:
#string label encoding
from sklearn.preprocessing import LabelEncoder
lb_encoder = LabelEncoder()
for item in df.keys():
  df[item] = lb_encoder.fit_transform(df[item])

df['Item_Identifier']

0        156
1          8
2        662
3       1121
4       1297
        ...
8518     370
8519     897
8520    1357
8521     681
8522      50
Name: Item_Identifier, Length: 8523, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   int64
 1   Item_Weight                8523 non-null   int64
 2   Item_Fat_Content           8523 non-null   int64
 3   Item_Visibility            8523 non-null   int64
 4   Item_Type                  8523 non-null   int64
 5   Item_MRP                   8523 non-null   int64
 6   Outlet_Identifier          8523 non-null   int64
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   int64
 9   Outlet_Location_Type       8523 non-null   int64
 10  Outlet_Type                8523 non-null   int64
 11  Item_Outlet_Sales          8523 non-null   int64
dtypes: int64(12)
memory usage: 799.2 KB

In [ ]:
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_squared_error, r2_score

import math

X = df.drop(['Item_Outlet_Sales'], axis=1)
y = df['Item_Outlet_Sales']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

rmse = math.sqrt(mean_squared_error(y_test, y_pred))

print("Root Mean squared error: %.2f" % rmse)
print('R2 score: %.2f' % r2_score(y_test, y_pred))

NameError: ignored